body {
	 padding: 50px 0;
	 font-size: 19px;
	 font-family: "Times New Roman", Times, serif;
}

main {
	 margin: 0 auto;
	 width: 800px;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}

section {
	margin: 20px 0;

}

h1 {
	 font-family: "Times New Roman", Times, serif;
	 font-size: 4em;
	 line-height: 0.928em;
	 text-align: center;
	 text-transform: uppercase;
}


p {
	 font-size: 1em;
	 line-height: 1.32em;
	 color: rgba(51, 51, 51, 0.80);
	 margin: 0px 0px 0px 0px;
	 width: 800px;
}

h2 {
	 font-size: 1.526em;
	 font-family: "Times New Roman", Times, serif;
	 line-height: 0.931em;
	 margin: 0px 0px 0.31em 0px;
}

p.contact {
	 text-align: center;
	 font-size: 16px;
	 letter-spacing: 2px;
	 margin-top: 27px;
	 line-height: 40px;
}

div.photo {
	 margin: 0 auto 1em auto;
	 width: auto;
	 text-align: center;
}

img.photo-circle {
	 -webkit-border-radius: 50%;
	 -o-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 max-width: 100%;
	 width: 260px;
	 border-radius: 50%;
	 display: block;
	 margin: 0 auto 10px auto;
	 box-shadow: 10px 10px 5px #888888;
}

